* {
	color: #000;
	box-sizing: border-box;
	font-size: 12px;
	font-family: "Fira Code", monospace;
}

body {
	background-color: #fff;
}

textarea {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	min-height: 100%;
	padding: 0.5rem;
	margin: 0;
	resize: none;
	background: transparent;
}

textarea,
textarea:focus {
	border: none;
	outline: none;
}

@media (prefers-color-scheme: dark) {
	* {
		color: #fff;
	}

	body {
		background: #111;
	}
}
