body {
	display: flex;
	flex-direction: column;
	gap: 0;
	background-color: #f8f8f8;
	font-family: Roboto, Ubuntu, sans-serif;
	max-width: 1024px;
	width: 100%;
	margin: 0;
}

nav {
	background-color: white;
	position: sticky;
	top: 0;
	margin: 0;
	padding: 1rem;
	text-align: right;
	display: flex;
	gap: 1rem;
	flex-direction: row-reverse;
}

article,
footer {
	padding: 1rem;
}

article > h1:first-of-type {
	margin-top: 0.5rem;
}

footer {
	color: #0008;
}

footer a {
	color: #0808;
}

a,
article a:hover,
footer a:hover {
	color: #080;
	text-decoration: none;
}

a:hover,
article a,
footer a {
	text-decoration: underline;
}

/* a[target="_blank"]::after {
	content: ' ↗';
} */

a.filled {
	background-color: #080;
	color: #fff;
	margin-top: -0.5rem;
	margin-bottom: -0.5rem;
	padding: 0.5rem 0.75rem;
}

.monospace,
code,
pre {
	font-family: Fira Code, monospace;
}

.grey {
	color: grey;
}

.not-grey {
	color: #000;
}

:root {
	--var-solid-background-color: white;
}

@media screen and (min-width: 1024px) {
	body {
		margin: 0 calc(50% - 512px);
	}

	article,
	footer {
		background-color: var(--var-solid-background-color);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--var-solid-background-color: black;
	}

	body {
		background-color: #080808;
		color: #fff;
	}

	nav {
		background-color: black;
	}

	footer {
		color: #fff8;
	}

	footer a {
		color: #0f08;
	}

	a,
	article a:hover,
	footer a:hover {
		color: #0f0;
	}

	a.filled {
		background-color: #0f0;
		color: black;
	}

	.not-grey {
		color: #fff;
	}
}
